.page {
  min-height: 100vh;
  background: #FFFFFF;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
}

/* container do rectangle */
.bannerContent {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.rectangle {
  width: 80%;
  height: 30vh;

  background: #53980E;
  border-radius: 16px;

  display: flex;
  align-items: center;

  padding-left: 40px;
}

/* organiza os textos em coluna */
.rectangle div {
  display: flex;
  flex-direction: column;
  padding-left: 15%;
}

.rectangle h1 {
  color: white;
  margin: 0;
}

.subtitle {
  color: white;
  font-size: 14px;
  margin-top: 8px;
}