.button {
  font-size: 1.25rem;
  font-weight: 800;
  background: var(--white);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 32px;
  cursor: pointer;
  width: fit-content;
}

.button a {
  text-decoration: none;
  color: var(--green-secondary);
}
