/* Reseta valores padrão do navegador */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variáveis Globais - Cores */
:root {
  --white: #ffffff;
  --white-background: #fcfff8;
  --black-font: #242424;
  --purple-primary: #64008a;
  --purple-secondary: #b900ff;
  --green-primary: #83c73f;
  --green-secondary: #3b6127;
  --green-button: #53980e;
}

/* Cor de fundo e de texto */
body {
  background: var(--white-background);
  color: var(--black-font);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
