.page {
  min-height: 100vh;
}

.container {
  max-width: 76rem;
  margin: 0.875rem auto;
  padding: 0 1rem;
}

.banner {
  background:
    url("../../assets/brackground-decoration.svg") no-repeat, /* esquerda */
    linear-gradient(
      to bottom right,
      var(--green-primary),
      var(--green-secondary),
      var(--green-primary)
    );

  background-position:
    left -23.9375rem top 19.125rem,
    0 0;

  background-size:
    550px 634px,
    cover;

  position: relative;
  overflow: hidden;
  padding-bottom: 21rem;
}

/* superior direita */
.banner::before {
  content: "";
  position: absolute;
  top: -10.25rem;
  right: -8rem;

  width: 26.75rem;
  height: 30.875rem;

  background: url("../../assets/brackground-decoration.svg") no-repeat;
  background-size: contain;

  transform: scaleX(-1);

  pointer-events: none;
  z-index: 0;
}

/* inferior direita */
.banner::after {
  content: "";
  position: absolute;
  top: 23.4375rem;
  right: -15rem;

  width: 27.75rem;
  height: 32rem;

  background: url("../../assets/brackground-decoration.svg") no-repeat;
  background-size: contain;

  transform: scaleX(-1);

  pointer-events: none;
  z-index: 0;
}

.bannerContent {
  display: grid;
  grid-template-columns: 70% 1fr;
  margin-top: 3.75rem;
  margin-bottom: 3.5rem;
}

.bannerContent h1 {
  font-size: 5rem;
  font-weight: 800;
  color: var(--white);
}

.bannerContent p {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 1.875rem;
}

.bannerImage {
  position: relative;
}

.bannerImage img {
  width: 100%;
}

.content {
  background: var(--white-background);
  margin-top: -21rem;
}

.about {
  max-width: 56rem;
  margin: 4rem auto;
  position: relative;
}

/* direita */
.about::after {
  content: "";
  position: absolute;
  top: -3rem;
  right: -35rem;

  width: 29.625rem;
  height: 34.25rem;

  background: url("../../assets/brackground-decoration.svg") no-repeat;
  background-size: contain;

  transform: scaleX(-1);

  pointer-events: none;
  z-index: 0;
}

/* esquerda */
.about::before {
  content: "";
  position: absolute;
  top: 20rem;
  left: -35rem;

  width: 32rem;
  height: 35.9375rem;

  background: url("../../assets/brackground-decoration.svg") no-repeat;
  background-size: contain;

  pointer-events: none;
  z-index: 0;
}

.about h1 {
  margin: 4rem 0;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  line-height: 95%;
}

.timeline {
  display: flex;
}

.timeline p {
  font-size: 1.25rem;
  font-weight: 400;
}

.timeline span {
  font-weight: 800;
}

.timeline img {
  margin: 0 5rem;
}

.leftTimeline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rightTimeline {
  display: flex;
  align-items: center;
}

.servicesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 69rem;
  margin: 4rem auto;
}

.servicesContainer h1 {
  font-size: 3rem;
  font-weight: 900;
}

.services {
  display: flex;
  flex-direction: column;
}

.service {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-bottom: 1px solid;
  padding: 3.5rem 0;
}

.service:last-child {
  border: none;
}

.service span {
  font-size: 1.5rem;
  font-weight: 800;
  color: #4d9405;
}

.service p {
  font-size: 1.25rem;
}
